.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.hero img {
  margin-top: 5em;
  border-radius: 50%;
  height: 250px;
  object-fit: contain;
  align-self: center;
}

.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 50px;
  font-weight: 600;
}

.hero h1 span {
  background: linear-gradient(270deg, #d97f18 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 5px;
}

.hero p {
  width: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}

.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}

.hero-connect {
  padding: 25px 45px;
  border-radius: 50px;
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  cursor: pointer;
}

.hero-connect a {
  color: white;
  text-decoration: none;
}
.hero-resume {
  padding: 25px 75px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
}

.hero-connect:hover {
  border: 2px solid white;
}

.hero-resume:hover {
  border: 2px solid #b415ff;
}

.hero-resume a {
  color: #b415ff;
  text-decoration: none;
}
