.contact-section {
  padding: 5rem 2rem;
  background: #111;
  text-align: center;
  border-radius: 10px;
  margin: 80px 170px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  background: linear-gradient(180deg, #ffffff, #ffd700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 600px;
  margin: 0 auto;
}

.contact-info p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
}

.contact-info p:first-child {
  font-weight: bold;
}

.contact-info p span {
  font-weight: bold;
}

.contact-info {
  padding: 2rem;
  border-radius: 10px;

  width: 100%;
  text-align: center;
}

.contact-info p {
  color: white;
}

.contact-container a {
  text-decoration: none;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 100.2%);
  color: white;
  padding: 1rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 30px;
  
}
