.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar h3{
  color: rgba(255, 255, 255, 0.436);
  font-size: 20px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2em;
  font-size: 20px;
  justify-content: center;
}

.nav-connect{
  padding: 10px 10px;
  border-radius: 50px;
  background: linear-gradient(267deg, #d6a16f93 0.26%, #b076c068 80.2%);
  font-size: 15px;
  cursor: pointer;
}

.nav-connect:hover{
  transform: scale(1.05);
}

.nav-connect a{ 
  text-decoration: none;
  color: white;
}

.nav-connect:hover{
 transform: scale(1.05);
}

.navbar img {
  width: 10em;
}

.nav-menu a {
text-decoration: none;
color: white;
}