.footer {
  background: #000;
  color: white;
  padding: 1em;
  text-align: center;
}

.footer-content h2 {
  font-size: 28px;
}

.footer-content span {
  color: #ff00ff;
}

.footer-links a {
  color: white;
  text-decoration: none;
}
